<button mat-raised-button class="novo" routerLink="create">Nova Mesa</button>
<button mat-raised-button class="voltar" routerLink="">Voltar</button>
<div class="Container" *ngFor="let item of list">
    <mat-card [@slideInOut] class="simple-card">
        <p>ID: {{ item?.id }}</p>
        <p>Capacidade: {{ item.capacidade }}</p>
        <div class="actions">
            <button [routerLink]="['/mesas/update', item.id]" class="btn"><strong>EDITAR</strong>
                <div id="container-stars">
                  <div id="stars"></div>
                </div>
              
                <div id="glow">
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
            </button>
            <button *ngIf="item?.id" (click)="openConfirmationDialog(item)" class="btn2"><strong>EXCLUIR</strong>
                <div id="container-stars">
                  <div id="stars"></div>
                </div>
              
                <div id="glow">
                  <div class="circle"></div>
                  <div class="circle"></div>
                </div>
            </button>
        </div>
    </mat-card>
</div>