<div class="container">
    <!-- Container Start -->
    
    <mat-card [@slideMesas] class="mesa">
      <!-- Mat Card: Mesas -->
      <img src="../../../assets/img/mesa.png" alt="logo" class="logo">
      <!-- Image: Mesa logo -->
      <br>
      <button (click)="mesas()" mat-raised-button class="novo" routerLink="create">Mesas</button>
      <!-- Button: Mesas -->
    </mat-card>
    
    <mat-card [@slideClientes] class="cliente">
      <!-- Mat Card: Clientes -->
      <img src="../../../assets/img/cliente.png" alt="logo" class="clientelogo">
      <!-- Image: Cliente logo -->
      <br>
      <button (click)="clientes()" mat-raised-button class="novo" routerLink="create">Clientes</button>
      <!-- Button: Clientes -->
    </mat-card>
    
    <mat-card [@slideReservas] class="reserva">
      <!-- Mat Card: Reservas -->
      <img src="../../../assets/img/reserva.png" alt="logo" class="reservalogo">
      <!-- Image: Reserva logo -->
      <br>
      <button (click)="reservas()" mat-raised-button class="novo" routerLink="create">Reservas</button>
      <!-- Button: Reservas -->
    </mat-card>
    
  </div>
  <!-- Container End -->