.mesa {
    float: left;
    width: 20%;
    height: 25%;
    background-color: #fff;
    margin-left: 30px;
  }

  .cliente {
    
    width: 20%;
    height: 25%;
    background-color: #fff;
    
  }

  .reserva {
    float: right;
    width: 20%;
    height: 25%;
    background-color: #fff;
    margin-right: 30px;
  }

  .container {
    margin-top: 12%;
    display: flex;
    justify-content: space-between;
  }

.clientelogo {
    width: 50%;
    height: 35;
    margin: auto;
    object-fit: fill;
}

.reservalogo {
    width: 50%;
    height: 50%;
    margin: auto;
}

.logo {
    width: 50%;
    height: 50%;
    margin: auto;
}

