<form [formGroup]="reservaForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>ID Do cliente</mat-label>
        <input matInput formControlName="clienteid">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>ID da Mesa</mat-label>
        <input matInput formControlName="mesaid">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Capacidade da Mesa</mat-label>
        <input matInput formControlName="capacidade">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Data da Reserva</mat-label>
        <input matInput formControlName="data">
    </mat-form-field>
    
    
    <button mat-stroked-button color="primary" type="submit">
        Guardar Alterações
    </button>
    
    <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
    
</form>