<!-- Start of Form Section ,dá Bind 'clienteForm' FormGroup e 'onSubmit()' event 
    e establece uma relação entre o form e o FormGroup -->
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
        <!-- Form Field: Nome -->
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
        </mat-form-field>
      
        <!-- Form Field: Telefone -->
        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone">
        </mat-form-field>
      
        <!-- Submit Button: Guardar Alterações -->
        <button mat-stroked-button color="primary" type="submit">
          Guardar Alterações
        </button>
      
        <!-- Cancel Button -->
        <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
      </form>