<form [formGroup]="mesaForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" readonly>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Capacidade</mat-label>
        <input matInput formControlName="capacidade">
    </mat-form-field>
    
    <button mat-stroked-button color="primary" type="submit">
        Guardar Alterações
    </button>
    
    <button (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
    
</form>