<button mat-raised-button class="novo" routerLink="create">Novo Cliente</button>
<button mat-raised-button class="voltar" routerLink="">Voltar</button>
<div class="Container" *ngFor="let item of list">
    <mat-card [@slideInOut] class="simple-card">
        <p>ID: {{ item.id }}</p>
        <p>Nome: {{ item.nome }}</p>
        <p>Nº Telefone: {{ item.telefone }}</p>
        <div class="actions">
            <button [routerLink]="['/clientes/update', item.id]" class="edit-carro" mat-raised-button color="primary">Editar</button>
            <button mat-raised-button color="warn" class="excluir-carro">Excluir</button>
        </div>
    </mat-card>
</div>